
@{
    ViewBag.Title = "SaloonPayment";
    Layout = "~/Views/Home/Voyager_LayoutPage.cshtml";
}

<center>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <h1>SALOON PAYMENT</h1>

    <br />

    <form method="Post" action="/Saloon/ConfirmPayment">
        <table>
            <tr>
                <td>
                    <label for="co">Card Owner</label><br>
                    <input type="text" id="co" name="co" class="form-control" required /><br>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="cn">Card Number</label><br>
                    <input type="text" id="cn" name="cn" class="form-control" required /><br>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Expiry Date</label><br>
                    <input type="number" id="mm" value="MM" name="mm" min="1" max="12" class="form-control" required /><br>
                    <input type="number" id="yy" value="YY" name="yy" min="20" max="99" class="form-control" required /><br>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="cvv">CVV</label><br>
                    <input type="text" id="cvv" name="cvv" class="form-control" required /><br>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="ConfirmPayment" class="btn btn-success" value="ConfirmPayment" /><br /><br />
                </td>
            </tr>

            <tr>
                <td>
                    <a href="ViewBookings" class="btn btn-dangegr"> Cancel</a>
                </td>
            </tr>
        </table>
    </form>

    </center>