
@{
    ViewBag.Title = "EFitness";
    Layout = "~/Views/Fitness/Fitness_LayoutPage.cshtml";
}

<cnter>

    <h2>Enjoy Cruising</h2>
    <p>
        Welcome to The Blue Horizon, the ultimate destination for your dream vacation! Whether you're looking for a relaxing getaway, an adventure-filled journey, or a family-friendly trip, we have the perfect cruise for you. Explore our amazing destinations, around the world and more. Enjoy our world-class amenities, spa treatments, entertainment, and activities. Book your cruise today and get ready for the experience of a lifetime!
    </p>

</cnter>