
@{
    ViewBag.Title = "FitnessPayment";
    Layout = "~/Views/Fitness/Fitness_LayoutPage.cshtml";
}

<h2>FitnessPayment</h2>

<form method="Post" action="/Fitness/ConfirmPayment">
    <table>
        <tr>
            <td>
                <label for="co">Card Owner</label><br>
                <input type="text" id="co" name="co" required /><br>
            </td>
        </tr>

        <tr>
            <td>
                <label for="cn">Card Number</label><br>
                <input type="text" id="cn" name="cn" required /><br>
            </td>
        </tr>

        <tr>
            <td>
                <label for="mm">Expiry Date</label><br>
                <input type="number" id="mm" value="MM" name="mm" min="1" max="12" required />
                <input type="number" id="yy" value="YY" name="yy" min="20" max="99" required /><br>
            </td>
        </tr>

        <tr>
            <td>
                <label for="cvv">CVV</label><br>
                <input type="text" id="cvv" name="cvv" required /><br>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="ConfirmPayment" value="ConfirmPayment" />
            </td>
        </tr>
    </table>
</form>

