@{
    Layout = "~/Views/Home/Home_LayoutPage.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <center>
        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="title">CRUISESHIP MANAGEMENT SYSTEM</h1>
            <div>
                @Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "nav-link" })
                @Html.ActionLink("Registration", "Voyager", "Home", new { area = "" }, new { @class = "nav-link" })
            </div>
        </section>
    </center>
</body>
</html>