@{
    Layout = "~/Views/Home/Home_LayoutPage.cshtml";
}


@if (TempData["AlertMessage"] != null)
{
    <div class="alert-success">
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <center>
        <section class="row" aria-labelledby="aspnetTitle">
           @* <h1 id="title">CRUISESHIP MANAGEMENT SYSTEM</h1>*@
            <div>

                <h2>Enjoy Cruising</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed bibendum felis. Curabitur dignissim, diam sed fermentum pulvinar, leo mi ultricies risus, vitae congue tellus mi sed augue. Etiam euismod rhoncus diam at tempor. Cras porta nec ipsum a finibus.Vestibulum pretium egestas nisi semper mattis. </p>

                @*@Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Registration", "Voyager", "Home", new { area = "" }, new { @class = "nav-link" }) |
        @Html.ActionLink("Premium Registration", "Premium", "Home", new { area = "" }, new { @class = "nav-link" })*@
            </div>
        </section>
    </center>
</body>
</html>