@{
    Layout = "~/Views/Home/Home_LayoutPage.cshtml";
}


@if (TempData["AlertMessage"] != null)
{
    <div class="alert-success">
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <center>
        <section class="row" aria-labelledby="aspnetTitle">
           @* <h1 id="title">CRUISESHIP MANAGEMENT SYSTEM</h1>*@
            <div>

                <h2 >Enjoy Cruising</h2>
                <p >
                    Welcome to The Blue Horizon, the ultimate destination for your dream vacation! Whether you're looking for a relaxing getaway, an adventure-filled journey, or a family-friendly trip, we have the perfect cruise for you. Explore our amazing destinations, around the world and more. Enjoy our world-class amenities, spa treatments, entertainment, and activities. Book your cruise today and get ready for the experience of a lifetime!
                </p>

                </div>
        </section>
    </center>
</body>
</html>