
@{
    ViewBag.Title = "Voyager";
    Layout = "~/Views/Home/Home_LayoutPage.cshtml";
}


<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />




    <h1>REGISTRATION</h1><br />
    <br />
    <form method="post">
        <table style="width:500px">
            <tr>
                <th>FIRST NAME </th>
                <td><input type="text" name="fn" class="form-control" value="" required /><br /></td>
            </tr>
            <tr>
                <th>LAST NAME </th>
                <td><input type="text" name="ln" class="form-control" value="" required /><br /></td>
            </tr>
            <tr>
                <th>PLACE </th>
                <td><input type="text" name="pl" class="form-control" value="" required /><br /></td>
            </tr>
            <tr>
                <th>GENDER </th>
                <td>

                    <input type="radio" name="gn" value="Male" required />
                    <label>Male</label><br />

                    <input type="radio" name="gn" value="Female" required />
                    <label>Female</label>
                    <br />
                    <br />

                </td>
            </tr>
            <tr>
                <th>PHONE </th>
                <td><input type="tel" name="ph" class="form-control" value="" pattern="[0-9]{10}" required /><br /></td>
            </tr>
            <tr>
                <th>EMAIL </th>
                <td><input type="email" name="em" class="form-control" value="" required /><br /></td>
            </tr>
            <tr>
                <th>USER NAME </th>
                <td><input type="text" name="un" class="form-control" value="" required /><br /></td>
            </tr>
            <tr>
                <th>PASSWORD </th>
                <td><input type="password" name="pwd" class="form-control" value="" required /><br /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="sub" class="btn btn-success" value="REGISTER" /></td>
            </tr>
        </table>
    </form>
    </div>
</center>


