
@{
    ViewBag.Title = "AddPremiumVoyager";
    Layout = "~/Views/Manager/Manager_LayoutPage.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <center>
        <h1>Voyager REGISTRATION</h1>
        <form method="post">
            <table>
                <tr>
                    <th>FIRST NAME </th>
                    <td><input type="text" name="fn" value="" /></td>
                </tr>
                <tr>
                    <th>LAST NAME </th>
                    <td><input type="text" name="ln" value="" /></td>
                </tr>
                <tr>
                    <th>PLACE </th>
                    <td><input type="text" name="pl" value="" /></td>
                </tr>
                <tr>
                    <th>GENDER </th>
                    <td>
                        <input type="radio" name="gn" value="Male" />
                        Male <br />
                        <input type="radio" name="gn" value="Female" />
                        Female
                    </td>
                </tr>
                <tr>
                    <th>PHONE </th>
                    <td><input type="text" name="ph" value="" /></td>
                </tr>
                <tr>
                    <th>EMAIL </th>
                    <td><input type="text" name="em" value="" /></td>
                </tr>
                <tr>
                    <th>USER NAME </th>
                    <td><input type="text" name="un" value="" /></td>
                </tr>
                <tr>
                    <th>PASSWORD </th>
                    <td><input type="text" name="pwd" value="" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="sub" value="REGISTER" /></td>
                </tr>
            </table>
        </form>
    </center>
</body>
</html>

