@{
    Layout = "~/Views/Manager/Manager_LayoutPage.cshtml";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <center>
        <h1>Welcome Manager</h1>
        <div>
            @Html.ActionLink("Manage Employees", "AddEmployee", "Manager", new { area = "" }, new { @class = "nav-link" }) |
            @Html.ActionLink("Manage Premium Voyagers", "AddPremiumVoyager", "Manager", new { area = "" }, new { @class = "nav-link" }) |
            @Html.ActionLink("Logout", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
        </div>
    </center>
</body>
</html>