@{
    Layout = "~/Views/Home/Manager_LayoutPage.cshtml";
}

<center>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
   @* <p>
        *******************Manager Home Page*******************
    </p>*@

</center>
