
@{
    ViewBag.Title = "ViewBookings";
    Layout = "~/Views/Home/Manager_LayoutPage.cshtml";
}



<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <style>
        a {
            height =50 px;
            width =200 px;
        }
    </style>

    <a href="ViewMovieBookingDetails" class="btn btn-success" style="width: 200px; height: 35px;">MOVIE TICKET</a><br /><br />
    <a href="ViewPartyBookingDetails" style="width: 200px; height: 35px;" class="btn btn-success">PARTY HALL</a><br /><br />
    <a href="ViewFitnessBookingDetails" style="width: 200px; height: 35px;" class="btn btn-success">FITNESS CENTRE</a><br /><br />
    <a href="ViewSaloonBookingDetails" style="width: 200px; height: 35px;" class="btn btn-success">BEAUTY SALOON</a><br />  <br />
    style="width: 200px; height: 35px;


</center>   